@font-face {
    font-family: "OpenSans";
    src: url("/fonts/OpenSans-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "OpenSans";
    src: url("/fonts/OpenSans-Light.ttf");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "OpenSans";
    src: url("/fonts/OpenSans-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}

body {
    font-family: 'OpenSans', sans-serif;
}

a {
    text-decoration: none !important;
}

* {
    box-sizing: border-box;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

li::marker {
    content: "";
}

textarea::-webkit-scrollbar, div::-webkit-scrollbar, span::-webkit-scrollbar {
    width: 6px;
}

textarea::-webkit-scrollbar-thumb, div::-webkit-scrollbar-thumb, span::-webkit-scrollbar-thumb {
    background-color: #bbb;
}


textarea, input {
    font-weight: 300;
}

:root {
    --main-theme: #c9b5b5;
    --main-theme-light: #e6cfcf;
    --main-theme-dark: #b39191;
    --main-theme-darker: #796363;
    --main-theme-lighter: #f6eeee;
}

.text-main-theme-dark {
    color: var(--main-theme-dark)
}

.text-main-theme-darker {
    color: var(--main-theme-darker)
}

.border-main-theme-darker {
    border-color: var(--main-theme-darker) !important;
}