a {
    text-decoration: none !important;
}

* {
    box-sizing: border-box;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

li::marker {
    content: "";
}

textarea::-webkit-scrollbar {
    width: 5px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #bbb;
}