a {
    text-decoration: none !important;
}

* {
    box-sizing: border-box;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

li::marker {
    content: "";
}

textarea::-webkit-scrollbar {
    width: 5px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #bbb;
}

:root {
    --main-theme: #cca5a5;
    --main-theme-light: #e6baba;
    --main-theme-dark: #b39191;
}