.comment {
    box-shadow: 1px 1px 5px 1px #ddd;
    /* background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(248,249,250,1) 100%); */
    position: relative;
    transition: all .5s linear;
    overflow: hidden;
}

.comment__head {
    gap: 10px;
}

.comment__authorLink:hover span {
    color: rgb(85, 85, 85) !important;
}

.comment__rating {
    gap: 10px;
}

.comment__content {
    
}

.comment__toggleBtnHolder {
    width: 160px;
    position: absolute;
    bottom: 10px;
    right: 0px;
}

.comment__toggleBtnArrow {
    transition: all .1s linear;
}


.comment__toggleBtn {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #aaa;
}

.comment__toggleBtn:hover {
    color: #777;
}

.comment__folded {
    max-height: 200px;
    
}

.comment__folded .comment__toggleBtnArrow {
    transform: rotate(180deg);
}

.comment__commentReport {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    width: 25px;
    height: 25px;
}


.comment__commentReportIcon {
    border: none;
    background-color: transparent;
    color: var(--bs-dark);
    transition: all .07s linear;
}

.comment__commentReportIcon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* .read__postReportMessage {
    position: absolute;
    width: 270px;
    font-size: .7em;
    top: 0px;
    left: 55px;
    text-align: center;

} */

.comment__commentReportPopup {
    display: flex;
    width: 270px;
    height: 85px;
    position: absolute;
    box-shadow: 1px 1px 2px 1px #eee;
    background-color: var(--main-theme-light);
    top: 0px;
    right: 25px;
    border-radius: 20px;
}

.comment__commentReportPopup-hidden {
    display: none !important;
}

.comment__commentReportPopup h3 {
    font-size: .5em;
    padding-left: 10px;
}

.comment__commentReportContent {
    width: 100%;
    height: 30px;
    font-size: .8em;
    padding: 10px 15px;
    border: solid #ccc 1px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.comment__commentReportBtn {
    height: 30px;
    border: 1px solid var(--main-theme-dark);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: transparent;
    color: var(--main-theme-darker);
}

.comment__commentReportBtn:hover {
    background-color: var(--main-theme-dark);
}

.comment__commentReportContent:focus {
    outline: solid #aaa 1px;
}