.gridtile {
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    padding: 10px;
    border: 1px solid transparent;
    flex-shrink: 0;
}

.gridtile:hover {
    border: 1px solid #ccc;
} 

.gridtile a{
    gap: 10px;
}

.gridtile__title {
    text-align: center;
    width: 100%;
    font-weight: 600;
    height: 55px;
    overflow: hidden;
    padding: 7px;
    border-bottom: 1px solid #ddd;
}

.gridtile__content {
    height: 160px;
    font-size: .8em;
}

.gridtile__author {
    /* height: 80px; */
}
