.head {
    height: 70px;
    width: 100%;
    padding: 10px 30px;
    gap: 50px;
    /* background-color: rgba(240, 240, 240, .5); */
    box-shadow: 1px 1px 3px 1px #ddd;
}

.head__logoHolder img{
    object-fit: contain;
    height: 70px;
    opacity: 50%;
}

.head__logoHolder:hover img {
    opacity: 100%;
}

.head__search {
    width: 100%;
}

.head__searchInput {
    width: 100%;
    height: 41px;
    padding: 10px;
    border: solid #ccc 1px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
} 

.head__searchInput:focus {
    outline: solid #aaa 1px;
}

.head__searchBtn {
    /* width: 80px; */
    /* height: 35px; */
    background-color: rgba(216, 211, 204, 0.958);
    border: 1px solid #ccc;
    color: #666;
    padding: 7px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.head__searchBtn:hover {
    background-color: #ddd;
}

.head__profile {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.head__profileBanner{
    gap: 10px;
    min-width: 150px;
}

.head__profileBanner {
    cursor: pointer;
}

.head__profileBanner:hover .head__profileImgTemplate {
    opacity: .8; 
}

.head__profileImgTemplate {
    object-fit: contain;
    height: 35px;
    opacity: .5;
}

.head__profileImg {
    object-fit: contain;
    height: 50px;
    max-width: 70px;
    border-radius: 10%;
}

.head__profileName {
    text-decoration: none !important;
    overflow: hidden;
}

.head__profile:hover > .head__profileBanner .head__profileArrow {
    transform: rotate(180deg);
}

.head__profileArrow {
    height: 1em;
    transition: all .1s linear;
}

.head__profilePopup {
    position: absolute;
    width: 150px;
    top:  50px;
    right: 0px;
    background-color: white;
    display: none;
    background-color: var(--bs-light);
    /* border: 1px solid #ccc; */
}

.head__profile:hover .head__profilePopup {
    display: block;
}

.head__profilePopup > ul {
    gap: 10px;
    margin: 0;
    padding: 0;
}

.head__profilePopup > ul > hr {
    margin: 0;
}

.head__profilePopup > ul > li {
    width: 100%;
    text-align: center;
    padding: 0 5px;
}

.head__profilePopup > ul > li:hover {
    /* background-color: #ddd; */
    color: #888;
}


/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 767.98px) {

    .head {
        height: 150px;
        flex-wrap: wrap;
        gap: 0 50px;
        justify-content: center !important;

        position: fixed;
        top: 0px;
        /* background-color: rgba(240, 240, 240, 1); */
    }

    .head__search {
        order: 3;
    }

    .head__profile {
        height: 70px;
    }

    .head__profilePopup {
        top: 60px;
    }
}

