.main {
    margin-top: 10px;
    gap: 10px;
}

.main__categories {
    width: 300px;
}

.main__grid {
    /* width: 100%; */
}

.main__categoriesList {
    margin: 0 auto;
    gap: 15px;
}

.main__categoriesList li:hover{
    background-color: #eee;;
}

.main__categoriesList li::marker {
    content: "";
}