.login {
    width: 50%;
    gap: 50px;
}

.login__form {
    gap: 20px;
    width: 100%;
}

.login__segment input {
    width: 100%;
}

.login__segment label {
    margin-left: 10px;
    margin-bottom: 5px;
}

.login__noAccount {
    gap: 10px;
}

.login__segment {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    width: 50%;
}

.login__formSubmit {
    width: 40%;
    height: 40px;
    background-color: var(--main-theme);
    /* border: 1px solid #ccc; */
    border: none;
    color: var(--bs-dark);
    padding: 5px;
    border-radius: 20px;
}

.login__formSubmit:hover {
    background-color: var(--main-theme-light);
}