.profile__profileimg {
    max-width: 400px;
    max-height: 300px;
    border-radius: 20px;
}

.profile__profileimgSpace {
    position: relative;
}

.profile__profileimgSpace:hover .profile__profileimg {
    opacity: .5;
}

.profile__profileimgSpace:hover .profile__profileimgTrashHolder{
    display: block;
    cursor: pointer;
}

.profile__profileimgTrashHolder {
    position: absolute;
    padding: 10px;
    border: none;
    background-color: rgb(155, 78, 78);
    color: white;
    border-radius: 10%;
    right: 5px;
    bottom: 5px;
    display: none;
    /* width: 30px; */
}

.profile__infoList {
    gap: 20px;
    margin: 0px;
}

.profile__profileimgHolder {
    gap: 20px;
}

.profile__profileimgInput ~ label:hover {
    cursor: pointer;
}

.profile__profileimgInput ~ label img {
    height: 1.5em;
    margin-right: 7px;
}

.profile__profileimgInput::-webkit-file-upload-button{
    display: none;
}

.profile__profileimgInput {
    color: var(--bs-secondary);
}

.profile__profileimgForm {
    gap: 10px;
}

.profile__profileimgFormSubmit {
    background-color: var(--main-theme);
    border :none;
    padding: 5px;
    color: var(--bs-dark);
    border-radius: 20px;
}

.profile__profileimgFormSubmit:hover {
    background-color: var(--main-theme-light);
}

.profile > .row {
    position: relative;
}

.profile__userBlock {
    border-radius: 0 0 50px 50px; 
    box-shadow: 2px 2px 3px 1px #ddd;
    /* background: rgb(255,255,255); */
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(248,249,250,1) 100%);
}

.profile__settingsHolder {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    display: inline;
    margin: 0;
    padding: 0;
    transition: all .1s linear;
}

.profile__settingsHolder:hover {
    transform: scale(1.1);
}

.profile__settingsHolder img {
    width: 100%;
    height: 100%;
    /* width: 30px;
    height: 30px; */
}

.profile__addNewPost {
    width: 50%;
    padding: 10px;
    background-color: var(--main-theme);
    color: var(--bs-dark);
    gap: 10px;
}

.profile__addNewPost:hover {
    background-color: var(--main-theme-light);
}

.profile__addNewPost img{
    height: 1.2em;
    width: 1.2em;
}

.profile__postsGrid {
    gap: 50px;
    flex-wrap: wrap;
}

.profile__watchForm button{
    padding: 5px 30px;
    background-color: var(--main-theme);
    border: none;
    color: var(--bs-dark);
    gap: 10px;
    border-radius: 20px;
}

.profile__watchForm button:hover {
    background-color: var(--main-theme-light);
}

.profile__infoListWatching:hover {
    opacity: .7;
}

.profile__infoListWatching > span{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    row-gap: 0px;
}

.profile__infoListWatching span {
    text-align: center;
}

@media (max-width: 767.98px) {
    .profile__userBlock {
        margin-top: 150px;
        width: 90% !important;
        padding: 40px !important;
    }
}

@media (max-width: 1199.98px) {
    .profile__infoList {
        margin-top: 50px;
    }
}