.profile__profileimg {
    width: 250px;
    max-height: 300px;
}

.profile__profileimgSpace {
    position: relative;
}

.profile__profileimgSpace:hover .profile__profileimg {
    opacity: .5;
}

.profile__profileimgSpace:hover .profile__profileimgTrashHolder{
    display: block;
    cursor: pointer;
}

.profile__profileimgTrashHolder {
    position: absolute;
    padding: 10px;
    border: none;
    background-color: rgb(155, 78, 78);
    color: white;
    border-radius: 10%;
    right: 5px;
    bottom: 5px;
    display: none;
    /* width: 30px; */
}

.profile__profileimgTrash {
    
}

.profile__infoList {
    gap: 20px;
}

.profile__profileimgHolder {
    gap: 20px;
}

.profile__profileimgInput ~ label:hover {
    cursor: pointer;
}

.profile__profileimgInput ~ label img {
    height: 1.5em;
    margin-right: 7px;
}

.profile__profileimgInput::-webkit-file-upload-button{
    display: none;
}

.profile__profileimgInput {
    color: var(--bs-secondary);
}

.profile__profileimgForm {
    gap: 10px;
}

.profile__profileimgFormSubmit {
    background-color: rgba(216, 211, 204, 0.958);
    border :none;
    padding: 5px;
    color: #444;
}

.profile__profileimgFormSubmit:hover {
    background-color: #ddd;
}

.profile > .row {
    position: relative;
}

.profile__settingsHolder {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    padding: 0;
    transition: all .1s linear;
}

.profile__settingsHolder:hover {
    transform: scale(1.1);
}

.profile__settingsHolder  img {
    width: 100%;
    height: 100%;
}

.profile__addNewPost {
    width: 50%;
    padding: 10px;
    background-color: rgba(216, 211, 204, 0.958);
    color: black;
    gap: 10px;
}

.profile__addNewPost:hover {
    background-color: #ddd;
}

.profile__addNewPost img{
    height: 1.2em;
    width: 1.2em;
}

.profile__postsGrid {
    gap: 50px;
    flex-wrap: wrap;
}