.read {
    width: 85%;
    border-radius: 20px;
    
    box-shadow: 2px 2px 5px 1px #ddd;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(248,249,250,1) 0%, rgba(255,255,255,1) 50%, rgba(248,249,250,1) 100%);
    min-height: 350px;
}

.read__mainText {
    background-color: white;
    border-radius: 10px;
    color: #333;
    min-height: 400px;
    max-height: 90vh;
    overflow-y: scroll;
}

.read__left {
    gap: 20px;
}

.read__right {
    gap: 50px;
}

.read__authorInfo {
    gap: 5px;
    max-width: 300px;
}

.read__authorInfoLink:hover .read__authorInfoImg{
    transform: scale(1.1);
}

.read__authorInfoImg {
    max-width: 70%;
    transition: all .1s linear;
    border-radius: 20px;
}

.read__rating {
    gap: 20px;
}

.read__ratingItem {
    gap: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.read__ratingItem img {
    width: 20px;
}

.read__tags {
    flex-wrap: wrap;
    gap: 10px;
}

.read__tagsTag:hover span {
    background-color: rgb(85, 85, 85);
}

.read__tagsTag span{
    padding: 5px;
    color: var(--bs-light);
    background-color: var(--main-theme-dark);
    transition: all .1s linear;
}

.read__settings {
    gap: 7px;
}

.read__settingsEdit:hover {
    background-color: var(--bs-secondary);
    color: var(--bs-dark) !important;
}

.read__settingsDelete:hover {
    background-color: var(--main-theme-darker);
    color: var(--bs-dark) !important;
}

.comments {
    width: 80%;
}

.comments__addComment textarea {
    width: 100%;
    border: solid #CCC 1px;
    padding: 5px;
    border-radius: 5px;
    resize: none;
    height: 150px;
}

.comments__addComment textarea:focus {
    outline: solid #aaa 1px;
}

.comments__addComment button {
    border: none;
    background-color: transparent;
    transition: all .1s linear;
    padding: 0 10px;
    color: var(--bs-secondary);
}

.comments__addComment button:hover {
    color: rgb(71, 71, 71);
}

.comments__addCommentCounter {
    padding: 5px;
}

.read__moreComments {
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.read__moreComments button {
    padding: 5px 30px;
    background-color: transparent;
    border: none;
    color: var(--main-theme-darker);
    gap: 10px;
    border-radius: 20px;
}

.read__moreComments button:hover {
    color: var(--main-theme-dark);
}

.read__views {
    gap: 10px;
}

.read__categoryHeader {
    transition: all .07s linear;
    display: block;
}

.read__categoryHeader:hover {
    transform: scale(1.1);
}

@media (max-width: 767.98px) {
    .read {
        margin-top: 150px;
    }

    .read-holder {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

}

@media (max-width: 992px) {
    .read > .row {
        padding-right: 20px !important;
        padding-left: 20px !important; 
    }
}