.register {
    width: 50%;
    gap: 50px;
}

.register__form {
    gap: 20px;
    width: 100%;
}

.register__segment input {
    width: 100%;
}

.register__segment label {
    margin-left: 10px;
    margin-bottom: 5px;
}

.register__noAccount {
    gap: 10px;
}

.register__segment {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    width: 50%;
}

.register__formSubmit {
    width: 40%;
    height: 40px;
    background-color: rgba(216, 211, 204, 0.958);
    border: 1px solid #ccc;
    color: #666;
    padding: 5px;
}

.register__formSubmit:hover {
    background-color: #ddd;
}