.search {
    gap: 100px;

}

.search__grid {
    flex-wrap: wrap;
    gap: 30px;
}

.search__paginationNav {
    gap: 20px;
    padding: 10px;
    border-top: 1px solid #aaa;
}

.search__paginationLink {
    transition: all .2s linear;
}

.search__paginationLink:hover {
    background-color: rgba(216, 211, 204, 0.958);
}

.search__paginationLabel {
    background-color: rgb(184, 184, 184);
}

/* 
.search__paginationLink {
    color: var(--bs-secondary);
} */

.search__users h3{
    margin-left: 50px;
}

.search__users {
    gap: 30px;
}

.search__usersList {
    gap: 20px;
    padding: 0px 70px;
}

.search__usersTile a{
    width: 150px;
    height: 150px;
    gap: 5px;
    box-shadow: 1px 1px 1px 2px #ddd;
    border-radius: 10px;
    transition: all .1s linear;
}

.search__usersTile a:hover {
    box-shadow: none;
    transform: scale(1.1);
}


.search__usersTile img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 10px;
    
}